#previousBtn {
    float: left;
    background-color: grey;
}

#nextBtn {
    float: right;
}

.tutorial-step {
    display: none;
}

#step1 {
    display: block;
}

button {
    background-color: orange;
}
