@import url("https://use.typekit.net/yqu6iya.css");

@font-face {
  font-family: "sikatFont";
  src: url("/assets/fonts/Sikat-8MrrB.ttf") format("truetype");
}

:root {
  --OffWhite: #f4ebdc;
  --Black: #010101;
  --White: #fffeff;
  --Yellow: #feef05;
  --Blue: #016bb5;
  --Orange: #f5923d;
  --Red: #d01242;
  --Gray: #707070;
  --Green: #009a66;

  /* To call: color: var(var name);
          eg: color: var(--OffWhite) */
}

.homepage {
  text-align: left;
  display: flex;
  padding: 0;
  justify-content: left;
  margin: 0;
  font-family: "sikatFont";
  color: black;
  font-size: 4vw;
}

.homepageLogo {
  height: auto;
  width:35vw;
  padding-top: 15%;
}

.subpage {
  justify-content: center;
  font-size: 2vw;
}

body {
  margin: 0;
  font-family: proxima-nova, sans-serif;
}

h1 {
  text-align: center;
}

table {
  width: 100%;
  max-width: 900px;
  background-color: #fffeff;
  border: 5px solid #010101;
  margin: auto;
  border-collapse: collapse;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

thead {
  border: 5px solid #010101;
  background-color: #010101;
}

th {
  color: #fffeff;
}

#game {
  height: 500px;
  display: flex;
}
canvas {
  width: 100%;
  height: 100%;
}

.navContainer {
  display: flex;
  position: relative;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: var(--OffWhite);
}

.navbar {
  display: flex;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10%;
  padding-right: 10%;
}

.logo {
  float: left;
  margin-top: 15px;
  width: 150px;
}

.navbar ul {
  height: 100%;
  display: flex;
  justify-content: center;
  margin-left: 25%;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

.navbar ul li {
  list-style: none;
}

.navbar ul li a {
  display: block;
  text-decoration: none;
  color: var(--Black);
  transition: 0.3;
  font-weight: 600;
  padding: 1.75rem;
}

main {
  padding: 8%;
  text-align: center;
  height: 100%;
  margin: auto;
}

.playGameButton {
  padding: 1%;
  display: flex;
  justify-content: center;
  height: 100%;
  margin: auto;
  width: 50vw;
  height: 8vh;
}

.playGameButton :hover {
  background-color: #707070;
}

.playGameButton a {
  justify-content: center;
  font-family: 'sikatFont';
  text-decoration: none;
  font-size:3em;
}

.menuBtn{
  height: 30px;
  width: 30px;
  padding: auto;
  display: none;
  float: right;
  justify-content: space-between;
}

/* FOR TABLETS: Ipad, galaxy tab etc */
@media (max-width: 1040px) {
  .navbar ul{
    justify-content: right;
  }
  .navbarList ul li a {
    padding: 1rem;
  }
  .logo {
    content: url("../assets/Logo-small.png");
    float: left;
    margin: 15px 0px 15px 0px;
    width: 50px;
  }

  .homeContent {
    display: block;
  }

  .homepage {
    padding-top: 10%;
  justify-content: center;  
  }


  .homepageLogo {
    padding-top: 10%;
  }
}

/* FOR MOBILE DEVICES: Android, iPhone, etc */
@media (max-width: 810px) {
  .menuBtn {
    display: block;
    margin-top: 20px;
  }

  .navbarList li {
    display: none;
    width: 100%;
    text-align: center;
  }
  .navbarListActive{
    margin-top: 50px;

  }
  .navbarListActive li {
    display: absolute;
    width: 100%;
    text-align: center;
    left: 400px;
  }

  /* .navContainer {
    flex-direction: column;
    align-items: flex-start;
  } */

  .navbar ul {
    width: 100%;
    margin: 0;
    flex-direction: column;
    text-align: center;
  }

  .navbar ul li a {
    text-align: center;
    padding: 1.5rem;
  }
}

.rubik-white {
  color: black;
  background-color: #fffeff;
}

.rubik-red {
  color: black;
  background-color: #d01242;
}

.rubik-blue {
  color: white;
  background-color: #016bb5;
}

.rubik-orange {
  color: black;
  background-color: #f5923d;
}

.rubik-green {
  color: white;
  background-color: #009a66;
}

.rubik-yellow {
  color: black;
  background-color: #feef05;
}

#Play:hover{
  color: var(--Red);
}

#Learn:hover{
  color: var(--Blue);
}

#Time:hover{
  color: var(--Yellow);
}

#Score:hover{
  color: var(--Orange);
}

#About:hover{
  color: var(--Green);
}

/* Optional sexy scroll bar

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background: #db1d5c;
}

::-webkit-scrollbar-thumb {
  background: blue;
}
*/
