@font-face {
  font-family: 'sikatFont';
  src: url('/assets/fonts/Sikat-8MrrB.ttf')  format('truetype');
}

:root {

  --OffWhite: #F4EBDC;
  --Black: #010101;
  --White: #FFFEFF;
  --Yellow: #FEEF05;
  --Blue: #016BB5;
  --Orange: #F5923D;
  --Red: #D01242;
  --Gray: #707070;
  --Green: #009A66;

  /* To call: color: var(var name);
          eg: color: var(--OffWhite) */
}

.homepage {
  text-align: left;
  display: flex;
  padding: 0;
  justify-content: left;
  margin: 0;
  font-family: 'sikatFont';
  color: black;
  font-size: 6vh;
  width: 45%;
}

.homepageLogo {
  text-align: right;
  display: flex;
  padding: 0;
  justify-content: right;
  margin: 0;
}

.subpage {
  justify-content: center;
  font-size: 2vh;
}

body {
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h1 {
  text-align: center;
}

#game {
  height: 500px;
  display: flex;
}
canvas {
  width: 100%;
  height: 100%;
}

.navContainer {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(57, 138, 141);
}

.navbar {
  width: 100%;
  padding: 0;
}

.logo{
  float: left;
  height: 80px;
  width: 80px;
  }

.navbar ul {
  height: 100%;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar ul li {
  list-style: none;
}

.navbar ul li a{
  display: block;
  text-decoration: none;
  color: white;
  padding: 1.75rem;
  font-size: 1.75vh;
  text-transform: uppercase;
}

main {
  padding: 10%;
  display: flex;
  text-align: center;
  height: 100%;
  margin: auto;
}

.menuBtn{
  position: absolute;
  height: 30px;
  width: 30px;
  padding: auto;
  right: 15px;
  top: 45px;
  display: none;
  float: right;
  justify-content: space-between;
}


/* FOR TABLETS: Ipad, galaxy tab etc */
@media (max-width: 1040px) {
  nav ul li a{
    padding: 1.5rem;
    font-size: 1.5vh;
    text-transform: uppercase;
  }
}

/* FOR MOBILE DEVICES: Android, iPhone, etc */
@media (max-width: 810px) {
  .menuBtn {
    display: flex;
  }

  .navbarList li{
    display: none;
    width: 100%;
    text-align: center;
  }
  

  .navbarListActive li{
    display: absolute;
    width: 100%;
    text-align: center;
    left: 400px;
  }

  .navContainer{
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar ul{
    width: 100%;
    flex-direction: column;
    text-align: center;
  }

  .navbar ul li a{
    text-align: center;
    padding: 1.5rem;
  }
}

.rubik-white {
  color: black;
  background-color: #FFFEFF;
}

.rubik-red {
  color: black;
  background-color: #D01242;
}

.rubik-blue {
  color: white;
  background-color: #016BB5;
}

.rubik-orange {
  color: black;
  background-color: #F5923D;
}

.rubik-green {
  color: white;
  background-color: #009A66;
}

.rubik-yellow {
  color: black;
  background-color: #FEEF05;
}

Off-white: #F4EBDC
Black: #010101
White: #FFFEFF
Yellow: #FEEF05
Blue: #016BB5
Orange: #F5923D
Red: #D01242
Gray: #707070
Green: #009A66

/* Optional sexy scroll bar

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background: #db1d5c;
}

::-webkit-scrollbar-thumb {
  background: blue;
}
*/
