@import url("https://use.typekit.net/yqu6iya.css");

@font-face {
  font-family: 'sikatFont';
  src: url('/assets/fonts/Sikat-8MrrB.ttf')  format('truetype');
}

:root {

  --OffWhite: #F4EBDC;
  --Black: #010101;
  --White: #FFFEFF;
  --Yellow: #FEEF05;
  --Blue: #016BB5;
  --Orange: #F5923D;
  --Red: #D01242;
  --Gray: #707070;
  --Green: #009A66;

  /* To call: color: var(var name);
          eg: color: var(--OffWhite) */
}

.homepage {
  text-align: left;
  display: flex;
  padding: 0;
  justify-content: left;
  margin: 0;
  font-family: 'sikatFont';
  color: black;
  font-size: 4vw;
}

.homepageLogo {
  height: auto;
  width:35vw;
  padding-top: 0%;
}

.subpage {
  justify-content: center;
  font-size: 2vw;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
  margin: 0;
  font-family: proxima-nova, sans-serif;
  font: 14px;
}

h1 {
  text-align: center;
}

table {
  width: 100%;
  max-width: 900px;
  background-color: #fffeff;
  border: 5px solid #010101;
  margin: auto;
  border-collapse: collapse;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

thead {
  border: 5px solid #010101;
  background-color: #010101;
}

th {
  color: #fffeff;
}

#game {
  height: 500px;
  display: flex;
}
canvas {
  width: 100%;
  height: 100%;
}

.navContainer {
  display: flex;
  position: relative;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(57, 138, 141);
}

.navbar {
  width: 100%;
  padding: 0;
}

.logo {
  float: left;
  height: 80px;
  width: 80px;
}

.navbar ul {
  height: 100%;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar ul li {
  list-style: none;
}

.navbar ul li a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 1.75rem;
  font-size: 1.75vh;
  text-transform: uppercase;
}

main {
  padding: 8%;
  text-align: center;
  height: 100%;
  margin: auto;
}

.homeContent {
  display: flex;
}

.playGameButton {
  padding: 1%;
  display: flex;
  justify-content: center;
  height: 100%;
  margin: auto;
  width: 50vw;
  height: 8vh;
}

.playGameButton :hover {
  background-color: #707070;
}

.playGameButton a {
  justify-content: center;
  font-family: 'sikatFont';
  text-decoration: none;
  font-size:3em;
}

.menuBtn{
  position: absolute;
  height: 30px;
  width: 30px;
  padding: auto;
  right: 15px;
  top: 45px;
  display: none;
  float: right;
  justify-content: space-between;
}

/* FOR TABLETS: Ipad, galaxy tab etc */
@media (max-width: 1040px) {
  nav ul li a {
    padding: 1.5rem;
    font-size: 1.5vh;
    text-transform: uppercase;
  }

  .homeContent {
    display: block;
  }

  .homepage {
    padding-top: 10%;
  justify-content: center;  
  }


  .homepageLogo {
    padding-top: 10%;
  }
}

/* FOR MOBILE DEVICES: Android, iPhone, etc */
@media (max-width: 810px) {
  .menuBtn {
    display: flex;
  }

  .navbarList li {
    display: none;
    width: 100%;
    text-align: center;
  }

  .navbarListActive li {
    display: absolute;
    width: 100%;
    text-align: center;
    left: 400px;
  }

  .navContainer {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar ul {
    width: 100%;
    flex-direction: column;
    text-align: center;
  }

  .navbar ul li a {
    text-align: center;
    padding: 1.5rem;
  }
}

.rubik-white {
  color: black;
  background-color: #FFFEFF;
}

.rubik-red {
  color: black;
  background-color: #D01242;
}

.rubik-blue {
  color: white;
  background-color: #016BB5;
}

.rubik-orange {
  color: black;
  background-color: #F5923D;
}

.rubik-green {
  color: white;
  background-color: #009A66;
}

.rubik-yellow {
  color: black;
  background-color: #FEEF05;
}

/* Optional sexy scroll bar

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background: #db1d5c;
}

::-webkit-scrollbar-thumb {
  background: blue;
}
*/
