#previousBtn {
    float: left;
    background-color: grey;
}

#nextBtn {
    float: right;
}

.tutorial-step {
    display: none;
}

.tutorial-content {
    margin: 0%;
    margin-left: 17%;
    margin-right: 12%;
    padding: 0%;
    /* padding-left: 17%;
    padding-right: 15%; */
}

#step1 {
    display: block;
}

.navButtons {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: orange;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }

.navButtons:hover {
    background-color: rgb(192, 135, 29)
}

.navButtons:enabled:active {
    background-color: orange;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.navButtons:disabled {
    background-color: gre;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

/* figure {
    border: 1px #cccccc dotted;
    padding: 4px;
    margin: auto;
    width: 30vw;
} */
/* 
#figLeft {
    float: left;
}

#figRight {
    float: right;
} */
  
/* figcaption {
    background-color: inherit;
    color: inherit;
    font-style: italic;
    padding: 2px;
    text-align: center;
} */

.video-frame {
    width: 56vw;
    height: 32vh;
}

.cube-image {
    max-width: 240px;
    width: 45vw;
    height: auto;
}

.algorithm-image {
    max-width: 410px;
    width: 65vw;
    height: auto;
}

.cross-image {
    max-width: 720px;
    width: 75vw;
    height: auto;
}

#algo5 {
    max-width: 720px;
    width: 75vw;
    height: auto;
}

#algo6 {
    max-width: 420px;
    width: 65vw;
    height: auto;
}

#algo7 {
    max-width: 720px;
    width: 75vw;
    height: auto;
}