
@import url(../../css/style.css);
body {
    margin: 0;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
  
h1 {
    text-align: center;
}
  
container{
    padding: 10%;
}
  
canvas {
    width: auto;
    height: Auto;
    background-color: var(--OffWhite);
}

.grid-wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.5fr 0.5fr;
  gap: 0.5em;
  grid-template-areas:
    "moves game controls"
    "moves game controls"
    "buttons buttons buttons";
}

.moves{
  grid-area: moves;
}

.game-container{
  width: auto;
  max-width: 40rem;
  height: 35rem;
  grid-area: game;
  background-color: white;
  margin-bottom: 2em;
}
.controls{
  grid-area: controls;
}
.game-buttons{
  grid-area: buttons;
  display: flex;
  height: 8rem;
  justify-content: space-evenly;
  margin: 0 auto;
}

.game-buttons button{
  width: 15rem;
  margin: 0 1em;
}

.box-header{
  display: flex;
  height: 2rem;
  width: 100%;
  background-color: var(--Black);
  justify-content: space-between;
  margin-top: 0;
  border: #000 0.1rem solid;
  cursor: pointer;
}

.box-header h1{
  margin: 0 auto;
  color: white;
  padding-bottom: 0;
}
.box-header i{
  color: var(--White);
  width: 15%;
  margin-top: 0.9em;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

.box{
  border: 5px var(--Black) solid;
  background-color: white;
  margin-bottom: 2em;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.box p{
  padding: 10rem;
}

.hide{
  display: none;
}

@media (max-width: 810px) {
  .grid-wrapper{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 0.5fr 0.1fr;
    gap: 0.5em;
    grid-template-areas:
      "moves"
      "game"
      "buttons";
  }
  .controls{
    display: none;
  }
  .moves{
    margin-bottom: 0;
  }
  .game-container{
    margin-bottom: 0;
  }
}
.headerText {
    /* display: inline-block; */
    width: 80%;   
    height: 100%; 
    padding-top: 2%;
    padding-bottom: 2%;
    margin-top: 0;
    margin-bottom: 0;
    background-color: #000;
    color: #FFF;
    font-size: 20px;
    text-align: center;
    padding-right: 10%;
}

.movesContent {
  width: 80%;
  height: 70%; 
  background-color: #FFF;
}

.moveList {
  list-style-type:none;
}

.move {
  padding-top: 1%;
  padding-bottom: 1%;
  text-align: center;
}
  
  /* Style the collapsible content. Note: hidden by default
  .content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
  } */
  
.cubeControls {
    width: 25%;
    height: 100%;
}
  
  .rubik-white :hover {
    color: black;
    background-color: white;
  }
  
  .rubik-red :hover {
    color: black;
    background-color: var(--Red);
  }
  
  .rubik-blue :hover {
    color: white;
    background-color: var(--Blue);
  }
  
  .rubik-orange :hover {
    color: black;
    background-color: var(--Orange);
  }
  
  .rubik-green :hover {
    color: white;
    background-color: var(--Green);
  }
  
  .rubik-yellow :hover {
    color: black;
    background-color: var(--Yellow);
  }
  
.cube-controls{
  width: auto;
  height: auto;
}
.btn-cube-control{
  width: 30%;
  margin-top: 5px;
  height: 60px;
  font-size: x-large;
}
.btn-cube-control::after{
  background-color: whitesmoke;
}
.btn-inverse{
  margin: 10%;
  width: 60%;
  height: 50px;
  margin: 5px;
  font-size: x-large;
}
#blue{
  background-color: #016bb5
}
#blue:hover{
  background-color: #016bb5
}
#red{
  background-color: #D01242
}
#green{
  background-color: #009A66
}
#yellow{
  background-color: #FEEF05
}
#orange{
  background-color: #F5923D;
}