
body {
    margin: 0;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
  
h1 {
    text-align: center;
}
  
container{
    padding: 10%;
}
  
.game-container{
    display: flex;
}

#game {
    /* display: flex;  
    justify-content: center; */
    height: 50%;
    width: 50%;
}
  
canvas {
    width: 100%;
    height: 100%;
}
  
.moves {
    width: 25%;
    height: 80%;
    display: flex;
    margin-top: 25%;
    flex-direction: column;
  }

.movesHeader {
  width: 80%;
  height: 30%;
  display: flex;
}

.headerText {
    /* display: inline-block; */
    width: 80%;   
    height: 100%; 
    padding-top: 2%;
    padding-bottom: 2%;
    margin-top: 0;
    margin-bottom: 0;
    background-color: #000;
    color: #FFF;
    font-size: 20px;
    text-align: center;
    padding-right: 10%;
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
    /* display: inline-block; */
    width: 20%;
    background-color: #000;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    /* background-image: url('../assets/down-arrow.png');
    background-repeat: no-repeat; */
    border: none;
    /* vertical-align: middle; */
  }

.movesContent {
  width: 80%;
  height: 70%; 
  background-color: #FFF;
}

.moveList {
  list-style-type:none;
}

.move {
  padding-top: 1%;
  padding-bottom: 1%;
  text-align: center;
}
  
  /* Style the collapsible content. Note: hidden by default
  .content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
  } */
  
.cubeControls {
    width: 25%;
    height: 100%;
}
  
  .rubik-white :hover {
    color: black;
    background-color: white;
  }
  
  .rubik-red :hover {
    color: black;
    background-color: red;
  }
  
  .rubik-blue :hover {
    color: white;
    background-color: blue;
  }
  
  .rubik-orange :hover {
    color: black;
    background-color: orange;
  }
  
  .rubik-green :hover {
    color: white;
    background-color: green;
  }
  
  .rubik-yellow :hover {
    color: black;
    background-color: yellow;
  }
  
